doctype html
html
	head
		-var title = 'Blog App - My Posts'
		include ./templates/head.pug

	body
		header
			include ./templates/nav.pug

		main
			div.container
				div.row
					div.col.s12.m12.l12
						div.card
							div.card-content.text-white
								
								div.row
									div.col.s12.m12.l12
										span.card-title #{post.title}
										p.message #{post.text}
										br
										p Posted by #[span.orange-text #{post.user.username}] on #[span.orange-text #{post.createdAt}]
										
								
								div.divider.divider-margin
								
								if user
									div.row
										div.col.s12.m12.l12
											form(method="post" action="/addcomment")
												div.input-field.col.s12.m12.l12
													textarea(name="comment" data-id=post.id, placeholder="Add your comment here" class="materialize-textarea")
													button(type="submit" class="waves-effect waves-light btn right orange") Add Comment

									div.divider.divider-margin
								
								for comment in comments
									div.row
										div.col.s12.m12.l12
											p.message #{comment.text}
											br
											p Comment by #[span.orange-text #{comment.user.username}]
									div.divider.divider-margin

								


		include ./templates/footer.pug
		include ./templates/scripts.pug