doctype html
html
	head
		-var title = 'Blog App - Home'
		include ./templates/head.pug

	body
		header
			include ./templates/nav.pug

		main
			div.container
				div.row
					div.col.s12.m12.l12
						h5 Profile Information
						table.account
							tbody
								tr
									td Username:
									td #{profileUser.username}
								tr
									td Email:
									td #{profileUser.email}

				for post in posts
					div.row
						div.col.s12.m12.l12
							div.card
								div.card-content.text-white
									span.card-title
										a(href="/post/?id="+ post.id) #{post.title}
									p.message #{post.text}
									p Posted on #[span.orange-text #{post.createdAt}]

		include ./templates/footer.pug
		include ./templates/scripts.pug